.menu .wrapper > ul > li > a {
     padding: 13px 6px 16px;
}

.menu .wrapper > ul > li:hover,
.menu .wrapper > ul > li.active {
    margin: 0px -7px;    
}

.menu .wrapper > ul > li:hover > a,
.menu .wrapper > ul > li.hover > a,
.menu .wrapper > ul > li.active > a {
    padding: 13px 13px 16px;
}

.header + .bx-wrapper .bx-pager {
    z-index: 98;
}

.footer__menu-col + .footer__menu-col {
    margin-left: 50px;
}