/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	margin-top: 0px;
	text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	position: absolute;
	outline: 0;
	text-indent: -9999px;
	z-index: 10;
    background: url(../images/template/slider__arrow.png) no-repeat;
    height: 42px;
    margin: 0px;
    position: absolute;
    top: -77px;
    width: 42px;
}

.owl-theme .owl-controls .owl-buttons div.owl-prev {
	background-position: 0 0;
    left: auto;
    right: 40px;
}

.owl-theme .owl-controls .owl-buttons div.owl-next {
	background-position: -42px 0;
    right: 0px;
}

.owl-theme .owl-controls .owl-buttons div.owl-prev:hover,
.owl-theme .owl-controls .owl-buttons div.owl-prev.hover {
	background-position: 0 -43px;
}

.owl-theme .owl-controls .owl-buttons div.owl-next:hover,
.owl-theme .owl-controls .owl-buttons div.owl-next.hover {
	background-position: -42px -43px;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover,
.owl-theme .owl-controls.clickable .owl-buttons div.hover {
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(../images/template/AjaxLoader.gif) no-repeat center center
}