* {
    outline: none;
}

.a__butt {
    border: 0;
}
#fancybox__restore ,
#fancybox__open__id {
    text-align: center;
}

#fancybox__restore p ,
#fancybox__open__id p {
    margin-bottom: 20px;
}
#fancybox__reg .reg__auth__restore__content, #fancybox__reg .text__center,
#fancybox__open__id .reg__auth__restore__content, #fancybox__open__id .text__center,
#fancybox__restore .reg__auth__restore__content, #fancybox__restore .text__center {
    width: 320px;
    padding: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
#fancybox__restore .text__center ,
#fancybox__open__id .text__center ,
#fancybox__auth .text__center {
    width: auto;
}
#fancybox__reg .popup__inner,
#fancybox__auth .popup__inner,
#fancybox__restore .popup__inner {
    padding-left: 0;
    padding-right: 0;
}
.jq-checkbox.custom__checkbox {
    float: left;
}
.reg__auth__restore__content .input__parent.checkbox label {
    display: block;
    font-size: 13px;
    margin-left: 45px;
    line-height: 1.2;
}
.reg__auth__restore__content .input__parent.checkbox label a {
    color: #a02f8f;
}
#fancybox__auth .input__parent.checkbox {
    display: block;
    text-align: center;
    padding-right: 30px;
}

#fancybox__auth .input__parent.checkbox .jq-checkbox.custom__checkbox {
    float: none;
}
#fancybox__auth .input__parent.checkbox label {
    line-height: normal;
    display: inline-block;
    margin-left: 10px
}

.reg__auth__restore__content .input__parent.submit {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    width: auto;
}
.reg__auth__restore__content .input__parent.submit .a__butt {
    margin-top: 0;
}

#fancybox__auth .input__parent.submit .a__butt {
    margin-left: 15px;
    margin-right: 15px;
}
#fancybox__auth .input__parent.submit a {
    color: #a02f8f;
}
.fancybox-opened {
    z-index: 99999999 !important;
}
#fancybox__reg .text__center ,
#fancybox__auth .text__center ,
#fancybox__open__id .text__center,
#fancybox__restore .text__center {
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 1.2;
}
.reg__auth__restore__content {
    padding: 0 20px;
}
.reg__auth__restore__content .custom__input {
    border: 1px solid #acacac;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #2a2c2e;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 25px 10px 15px;
    width: 100%;
}

.input__parent {
    margin-bottom: 15px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.bottom__content {
    background-color: #eaeaea;
    text-align: center;
    min-height: 300px;
}

.bottom__content h3 {
    font-size: 16px;
    color: #181719;
    font-weight: bold;
    padding-top: 30px;
}


.socials__auth {
text-align: center;
font-size: 0;
margin-bottom: 20px;
}
.socials__auth li {
display: inline-block;
/* margin: 0 -5px; */
width: 70px;
}

.bottom__content .with__us {
    padding: 0 0 25px 0;
}
.bottom__content .with__us p {
    font-size: 13px;
}

input:focus::-webkit-input-placeholder {
    color:transparent;
}
input:focus::-moz-placeholder {
    color:transparent;
}
input:focus::-ms-input-placeholder {
    color:transparent;
}
input[palceholder]:focus{
    color:transparent;
}

input:focus::placeholder {
    color:transparent;
}
