body {
    background: #ffffff;
    color: #0b0b0b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.vertical__align {
    display: inline-block;
    line-height: 0px;
    vertical-align: middle;
}

a {
    color: #181719;
}

a:hover {
    color: #a33091;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: #292828;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 29px;
}

h2 {
    color: #292828;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 38px;
}

h3 {
    color: #af7ea8;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 17px;
}

h4 {
    color: #292828;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

h5 {
    color: #2a2c2e;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 11px;
}

h6 {
	color: #2a2c2e;
	font-size: 12px;
	line-height: 36px;
}

p {
    color: #0b0b0b;
    font-size: 14px;
    line-height: 22px;
}

.page {
    min-width: 1040px;
    overflow: hidden;
    width: 100%;
}

.wrapper {
    margin: 0px auto;
    width: 980px;
}

.clearfix {
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

.text__center {
    text-align: center;
}

.gray {
	background: #eaeaea;
}

/* table */

.tg {
	border-collapse:collapse;
	border-spacing:0;
}

table {
	border: 1px solid #D8D1CD;
	border-collapse: collapse; 
	text-align: left;
	width: 100%; 
}

* + table {
	margin-top: 32px;
}

table td, 
table th { 
	padding: 11px 14px 8px; 
	vertical-align: middle;
} 

table th {
	color:#000000; 
	font-size: 14px; 
	font-weight: bold; 
	border-left: 1px solid #D8D1CD; 
	border-bottom: 1px solid #D8D1CD;
	height: 37px;
	padding: 9px 16px 5px;
	
}  

table th:first-child { 
	border: none;
	padding: 8px 19px 0px;
	vertical-align: top;
}

table tbody td { 
	color: #0b0b0b; 
	border-left: 1px solid #D8D1CD;
	font-size: 14px;
	font-weight: normal; 
} 

table tbody .alt td { 
	background: #EAEAEA; 
	color: #0B0B0B; 
} 

table tbody td:first-child { 
	border-left: none; 
} 

table tbody tr:last-child td { 
	border-bottom: none; 
}

table .format {
	padding: 11px 24px 8px;
	width: 153px;
}

table .do1 {
	width: 128px;
}

table .do1.th {
	border-left: 1px solid #D8D1CD;
}

table .do2 {
	width: 132px;
}

table .post1 {
	width: 141px;
}

table .post2 {
	width: 139px;
}

table .kor {
	width: 224px;
}

table .th {
	color: #aaaaaa;
	padding: 6px 14px 7px;
}

/* end table */

.a__butt {
    background: #9d228a;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 165px;
}

.a__butt:hover {
    background: #701362;
    color: #ffffff;
}

.header {
    padding-top: 44px;
}

.header__inner {
    background: #ffffff;
	-webkit-box-shadow: 0 0px 9px 0 rgba(0,1,1,0.59);
    		box-shadow: 0 0px 9px 0 rgba(0,1,1,0.59);
    height: 42px;
    left: 0px;
	min-width: 1040px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
}

.header__logo {
    background: url(../images/logo.jpg) no-repeat 0 0;    
    float: left;
    height: 37px;
    margin-left: -18px;
    padding-top: 1px;
    width: 119px;
}

.header__city, 
.header__phone,
.header__delivery,
.header__cart,
.header__enter,
.header__help {
    color: #000000;
    font-size: 13px;
    line-height: 37px;
    text-decoration: none;
}

.header__city, 
.header__phone,
.header__delivery,
.header__cart,
.header__enter {
   display: inline-block;
}

.header__delivery:hover {
    color: #9d228a;
}

.header__help {
    float: right;
}

.header__city {
    background: url(../images/template/city.jpg) no-repeat 0 center;
    color: #2f353b;
    font-size: 13px;
    line-height: 37px;
    height: 37px;
    margin-left: 25px;
    padding: 0px 10px 0px 21px;
    position: relative;
    width: 150px;
}

.header__city:after {
    border-style: solid;
    border-width: 4px 3.5px 0 3.5px;
    border-color: #534741 transparent transparent transparent;
    content: '';
    margin-top: -2px;
    opacity: 1;
    position: absolute;
    right: 0px;
    top: 50%;
}

.header__city a {
    text-decoration: none;
}

.header__phone {
    background: url(../images/template/phone.jpg) no-repeat 0 center;
    color: #9d228a;
    margin-left: 39px;
    padding-left: 24px;
}

.header__delivery {
    background: url(../images/template/delivery.jpg) no-repeat 0 center;
    margin-left: 54px;
    padding-left: 30px;
}

.header__cart {
    background: url(../images/template/cart.jpg) no-repeat 0 center;
    margin-left: 26px;
    padding-left: 29px;
    min-width: 120px;
}

.header__cart span {
    color: #bdb8b8;
}

.header__enter {
    background: url(../images/template/profile.jpg) no-repeat 0 center;
    margin-left: 6px;
    padding-left: 26px;
}

.header__help {
    background: url(../images/template/help.jpg) no-repeat 0 center;
    padding-left: 27px;
}

.countries {
    overflow: hidden;
    padding: 9px 0px 12px;
}

.countries li {
    color: #000000;
    float: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
	padding-left: 0px;
}

.countries li:before {
	display: none;
}

.countries li + li {
    margin-left: 20px;
}

.countries a {
    color: #000000;
    text-decoration: none;
}

.top-cities {
    background: #ffffff;
}

.top-cities .wrapper {
    position: relative;
}

.top-cities input[type=text] {
    border: 1px solid #acacac;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    color: #2a2c2e;
    font-size: 14px;
    line-height: 18px;
    padding: 9px 25px 7px 15px;
    width: 268px;
}

#clear_city {
    position: relative;
    right: 30px;
    top: 1px;
}

#cities-list {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 10px;
    padding-bottom: 30px;
}

.big_cities {
    display: inline-block;
    overflow: hidden;
    margin-left: 5px;
    position: relative;
    top: -1px;
    vertical-align: middle;
}

.big_cities li {
    color: #2a2c2e;
    float: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 38px;
	padding-left: 0px;
}

.big_cities li:before {
	display: none;
}

.big_cities li + li {
    margin-left: 28px;
}

.big_cities a {
    border-bottom: 1px dashed #2a2c2e;
    color: #2a2c2e;
    font-weight: normal;
    text-decoration: none;
}

.big_cities a:hover {
    border-bottom-color: #ffffff;
}

.close_menu {
    color: #a33091;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;    
    position: absolute;
    right: 0px;
    text-decoration: none;
    top: 11px;
}

.letters__bg {
    background: #eaeaea;
    margin-top: 9px;
    padding: 14px 0px 17px;
}

.letters {
    height: 20px;
    width: 100%;
}

.letters li {
    display: inline;
	padding-left: 0px;
}

.letters li:before {
	display: none;
}

.letters li + li {
    margin-left: 21px;
}

.letters li a {
    color: #1a1918;
    border-bottom: 1px dotted #1a1918;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.letters li a:hover,
.letters li a.active {
    border-bottom: 1px dotted #a33091;
    color: #a33091;
}

.letter {
    color: #a33091;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin: 0px;
    padding: 9px 0px 11px;
    text-transform: uppercase;
}

.cities {
    overflow: hidden;
    padding: 0px 0px 0px;
    width: 100%;
}

.cities li {
    display: block;
    float: left;
    padding: 0px 0px 0px;
    width: 20%;
}

.cities li:before {
	display: none;
}

.cities li a {
    color: #2a2c2e;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
}

.cities li a:hover {
    color: #a33091;
    text-decoration: underline;
}

#no_city_match_error {
    font-size: 14px;
    line-height: 18px;
    padding-top: 30px;
}

.menu {
    background: #a33091;
    position: relative;
}

.menu .wrapper > ul {
    margin: 0px -11px;
    position: relative;
}

.menu .wrapper > ul > li {
    display: inline-block;
	padding-left: 0px;
    padding-top: 3px;
    position: relative;
}

.menu .wrapper > ul > li:before {
	display: none;
}

.menu .wrapper > ul > li + li {
    margin-left: 0px;
}

.menu .wrapper > ul > li > a {
    color: #ffffff;
	border: 1px solid transparent;
	border-bottom: 0px;
    display: block;
    font-size: 13px;
    font-weight: 700;
	line-height: 14px;
    padding: 13px 10px 16px;
    text-decoration: none;
    text-transform: uppercase;
	position: relative;
	z-index: 98;
}

.menu .wrapper > ul > li:hover,
.menu .wrapper > ul > li.active {
    margin: 0px -8px;    
}

.menu .wrapper > ul > li.active > a {
	border: 1px solid #fff;
	border-bottom: 0px;
	padding: 13px 18px 16px;	
}

.menu .wrapper > ul > li > a:hover,
.menu .wrapper > ul > li.hover > a {
    background: #ffffff;
    background: -moz-linear-gradient(top,  #f4f4f4 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(top,  #f4f4f4 0%,#ffffff 100%);
    background: -o-linear-gradient(top,  #f4f4f4 0%,#ffffff 100%);
    background: -ms-linear-gradient(top,  #f4f4f4 0%,#ffffff 100%);
    background: linear-gradient(to bottom,  #f4f4f4 0%,#ffffff 100%);
	border: 1px solid transparent;
	border-bottom: 0px;
    color: #9d228a;
    padding: 13px 18px 16px;
}

.drop__menu {
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
    background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
    background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%);
    -webkit-box-shadow: 0 0px 9px 0 rgba(0,1,1,0.59);
			box-shadow: 0 0px 9px 0 rgba(0,1,1,0.59);
	height: 0px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    left: 0px;
    top: 47px;
    z-index: 97;
    width: auto;
}

.to__right {
    left: auto;
    right: 0px;
}

.menu .wrapper li:hover .drop__menu {
    display: block;
	height: auto;
	padding: 28px 0px;
}

.drop__menu .menu__col {
    float: left;
    padding: 0px 12px 10px;
    width: 207px;
}

.drop__menu .menu__col + .menu__col {
    border-left: 1px solid #dfdede;
}

.drop__menu h2 {
    color: #2c2b2c;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 18px;
    padding-left: 7px;
}

.drop__menu .menu__col li + li {
    margin-top: 4px;
}

.drop__menu .menu__col a {
    color: #2c2b2c;
    display: block;
    font-size: 13px;
    line-height: 16px;
    padding: 5px 7px 5px;
    text-decoration: none;
}

.drop__menu .menu__col a:hover {
    background: #efefee;
    color: #9d228a;
    text-decoration: underline;
}

.header__slider,
.header__slider li {
    height: 450px;
	padding-left: 0px;
    position: relative;
}

.header__slider li:before {
	display: none;
}

.slider__bg {
    height: auto;
    left: 0px;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 0px;
    width: auto;
}

.header__slider h1,
.header__slider p,
.header__slider .slider__icon {
    position: relative;
    z-index: 1;
}

.header__slider .wrapper {
    line-height: 370px;
}

.header__slider h1 {
    color: #ffffff;
    font-size: 36px;
    font-weight: normal;
    line-height: 43px;
    margin: 0px 0px 23px;
    max-width: 510px;
    text-transform: uppercase;
}

.header__slider p {
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
    margin: 0px 0px 11px;
    max-width: 385px;
}

.header__slider .slider__icon {
    bottom: 59px;
    margin-right: -496px;
    position: absolute;
    right: 50%;
}

.header__sliders .bx-pager {
    bottom: 58px;
    left: 50%;
    margin-left: -490px;
    text-align: left;
    width: 980px;
}

.header__sliders .bx-pager .bx-pager-item {
    margin-right: 4px;
}

.header__sliders .bx-pager .bx-pager-item a {
    background: #ffffff;
    border-radius: 0px;
    color: #292828;
    display: block;
    font-size: 13.75px;
    line-height: 22px;
    height: 23px;
    margin: 0px;
    text-align: center;
    text-indent: 0;
    text-decoration: none;
    -webkit-transition: background 0.5s ease;
       -moz-transition: background 0.5s ease;
        -ms-transition: background 0.5s ease;
         -o-transition: background 0.5s ease;
            transition: background 0.5s ease;
    width: 23px;
}

.header__sliders .bx-pager .bx-pager-item a:hover,
.header__sliders .bx-pager .bx-pager-item a.active {
    background: #a33091;
    color: #ffffff;
}

/* slider__block */

.slider__block {
    padding: 69px 0px 54px;
}

.slider__block .wrapper {
    position: relative;
}

.slider__block .slider__img {
    height: 230px;
    margin-bottom: 24px;
    overflow: hidden;
}

.slider__block li {
	padding: 0px;
}

.slider__block li:before {
	display: none;
}

.slider__block img {
    height: auto;
    min-height: 100%;
    min-width: 100%;
    width: auto;
}

.slider__block a {
    color: #181719;
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 13px;
}

.slider__block a:hover {
    color: #a33091;
}

.slider__block p {
    color: #0b0b0b;
    font-size: 14px;
    line-height: 18px;
    max-width: 270px;
}

.slider__block-price {
    margin-top: 7px;
}

.slider__block-price span {
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
}

.slider__block-price .new__price {
    color: #9d228a;
    font-weight: 600;    
}

.slider__block-price .new__price:after {
    content: url(../images/rub.png);
    display: inline-block;
    margin-left: 3px;
}

.slider__block-price .old__price {
    color: #c5c0c0;
    margin-left: 12px;
    text-decoration: line-through;
}

.slider__block .bx-wrapper .bx-controls-direction a {
    background: url(../images/template/slider__arrow.png) no-repeat;
    height: 42px;
    margin: 0px;
    position: absolute;
    top: -77px;
    width: 42px;
}

.slider__block .bx-wrapper .bx-controls-direction a.bx-prev {
    background-position: 0 0;
    left: auto;
    right: 40px;
}

.slider__block .bx-wrapper .bx-controls-direction a.bx-next {
    background-position: -42px 0;
    right: 0px;
}

.slider__block .bx-wrapper .bx-controls-direction a.bx-prev:hover {
    background-position: 0 -43px;
}

.slider__block .bx-wrapper .bx-controls-direction a.bx-next:hover {
    background-position: -42px -43px;
}

/* end slider__block */

/* article__block */

.article__block {
    height: 560px;
    line-height: 560px;
    padding-top: 0px;
    overflow: hidden;
    position: relative;
}

.block_iphone {
    margin-top: 30px;
    overflow: initial;
    position: relative;
}

.block_iphone:after {
    background: url(../images/bg/phone.png) no-repeat 0 0;
    content: '';
    height: 581px;
    margin-right: -642px;
    position: absolute;
    right: 50%;
    top: -21px;
    width: 664px;
}

.block_girl {
    line-height: 545px;
    overflow: initial;
    z-index: 3;
}

.block_girl:before {
    background: url(../images/bg/img4.png) no-repeat 0 0;
    content: '';
    height: 761px;
    margin-right: -722px;
    position: absolute;
    right: 50%;
    top: -109px;
    width: 945px;
    z-index: 1;
}

.article__souvenir {
    line-height: 570px;
    height: 570px;
    z-index: 3;
}

.block__gal {
    height: 295px;
    line-height: 295px;
}

.article__block-info {    
    display: inline-block;
    left: -40px;
    padding: 40px;
    position: relative;
    z-index: 2;
    width: 520px;
}

.article__block-photo .article__block-info {
    background: #ffffff;
    background: rgba(255, 255, 255, 0.97);
    width: 580px;
}

.block__gal .article__block-info {
    padding: 21px 40px;
}

.article__block-info h2 {
    color: #ffffff;
    margin-top: 13px;
    margin-bottom: 33px;
}

.block_girl h2 {
    color: #292828;
}

.article__block-photo .article__block-info h2 {
    color: #292828;
    margin-bottom: 21px;
}

.article__block-info p {
    margin-bottom: 22px;
}

/* end article__block */

/* calendar__list */

.calendar__list {
    background: url(../images/bg/bg__grey.jpg) repeat 0 0 #eaeaea;
    padding: 118px 0px 130px;
    position: relative;
    z-index: 1;
}

.calendar__list.without {
    padding: 43px 0px 40px;
}

.calendar__list h2 {
    margin-bottom: 47px;
}

.calendar__list ul {
    overflow: hidden;
}

.calendar__list li {    
    float: left;
	padding-left: 0px;
    width: 183px;
}

.calendar__list li:before {
	display: none;
}

.calendar__list li + li {
    margin-left: 16px;
}

.calendar__list .calendar__icon {
    background: url(../images/bg/calendar.png) no-repeat #ffffff;    
    background-position:0 0;
    border: 1px solid #f1f1f1;
    cursor: pointer;
    height: 178px;
}

.calendar__list .icon1 {
    background-position: -3px 0;
}

.calendar__list .icon2 {
    background-position: -202px 0;
}

.calendar__list .icon3 {
    background-position: -401px 0;
}

.calendar__list .icon4 {
    background-position: -600px 0;
}

.calendar__list .icon5 {
    background-position: -799px 0;
}

.calendar__list li:hover .calendar__icon {
	border: 1px solid #a33091;
}

.calendar__list li.active .calendar__icon {
    background-color: #a33091;   
	border: 0px;
}

.calendar__list li.active .icon1 {
    background-position: -3px -181px;
}

.calendar__list li.active .icon2 {
    background-position: -202px -181px;
}

.calendar__list li.active .icon3 {
    background-position: -401px -181px;
}

.calendar__list li.active .icon4 {
    background-position: -600px -181px;
}

.calendar__list li.active .icon5 {
    background-position: -799px -181px;
}

.calendar__list a {
    color: #181719;
    display: block;
    font-size: 18px;
    line-height: 22px;
    margin-top: 27px;
    text-align: center;
}

.calendar__list li:hover a,
.calendar__list li.active a {
    color: #181719;
    text-decoration: underline;
}

.calendar__list li:hover a {
	color: #a33091;
    text-decoration: underline;
}

.calendar__list3 li {
	width: 312px;
}

.calendar__list3 li + li {
	margin-left: 22px;
}

.calendar__list3 .calendar__icon {
	background: url(../images/bg/shop__presents.png) no-repeat #ffffff;
	height: 179px;
}

.calendar__list3 .icon6 {
    background-position: 0px 0;
}

.calendar__list3 .icon7 {
    background-position: -311px 0;
}

.calendar__list3 .icon8 {
    background-position: -621px 0;
}

.calendar__list3 li.active .icon6 {
    background-position: -0px -180px;
}

.calendar__list3 li.active .icon7 {
    background-position: -311px -180px;
}

.calendar__list3 li.active .icon8 {
    background-position: -621px -180px;
}

/* end calendar__list */

/* news__block */

.news__block {
    padding: 141px 0px 156px;
}

.news__block h2 {
    text-transform: uppercase;
}

.news__block .date {
    color: #989797;
    font-size: 14px;
    line-height: 18px;
    padding: 49px 0px 8px;
    position: relative;
}

.news__block .date:before {
    background: #9d228a;
    content: '';
    height: 4px;
    left: 0px;
    position: absolute;
    top: 15px;
    width: 45px;
}

/* end news__block */

/* why__block */

.why__block {
    background: #eaeaea;
    padding: 122px 0px 134px;
}

.why__block ul {
    overflow: hidden;
    padding-top: 33px;
}

.why__block li {
    float: left;
	padding-left: 0px;
    text-align: center;
    width: 16.6%;
}

.why__block li:before {
	display: none;
}

.why__block li:last-child {
    float: right;
}

.why__block li img {
    margin-bottom: 24px;
}

.why__block li h4 {
    padding: 0px 10px;
}

.why__block li p {
    color: #292828;
    line-height: 17px;
}

/* end why__block */

/* footer */

.footer {
    background: #2d0b28;
    padding: 68px 0px 0px;
}

.footer__menu {
    float: left;
    overflow: hidden;
    width: 670px;
}

.footer__menu-col {
    float: left;
    width: 190px;
}

.footer__menu-col:last-child {
    width: 180px;
}

.footer__menu-col + .footer__menu-col {
    margin-left: 55px;
}

.footer__menu-col a {
    color: #e3dce2;
    font-size: 13px;
    line-height: 24px;
}

.footer__menu-col ul + h3 {
    margin-top: 36px;
}

.footer__menu-col a:hover {
    color: #df71ce;
    text-decoration: underline;
}

.footer__widget {
    float: right;
    width: 310px;
}

.footer__widget a {
	color: #e3dce2;
	text-decoration: none;
}

.footer__widget a:hover {
	color: #df71ce;
    text-decoration: underline;
}

.footer__contact {
    overflow: hidden;
    padding: 30px 0px 43px;
}

.footer__contact span {
    color: #af7ea8;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.footer__contact p {
    color: #e3dce2;
    font-size: 12px;
    line-height: 15px;
    margin-top: 6px;
}

.footer__contact .footer__widget p {
    font-size: 11px;
    margin-top: 16px;
}

.footer__contact .footer__widget img {
    margin-left: 7px;
    position: relative;
    top: 4px;
}

.widget__a {
    margin: 14px -6px 0px;
    overflow: hidden;
}

.widget__a li {
    float: left;
    margin: 9px 6px 0px;
	padding-left: 0px;
    width: 149px;
}

.widget__a li:before {
	display: none;
}

.footer__bottom {
    background: #20081c;
    padding: 24px 0px 19px;
}

.paypal {
    float: left;
    overflow: hidden;
    margin-right: 40px;
}

.paypal li {
    float: left;
	padding-left: 0px;
}

.paypal li:before {
	display: none;
}

.paypal li + li {
    margin-left: 34px;
}

.paypal + a {
    margin-right: 24px;
}

.a__app, .a__google {
    background: #4b1543;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    width: 150px;
}

.a__app img, 
.a__google img {
	max-width: 100%;
	vertical-align: top;
}

.a__app:hover, .a__google:hover {
    background: #701362;
}

.socials {
    overflow: hidden;
}

.socials p {
    color: #af7ea8;    
    display: inline-block;
    font-size: 12px;
    line-height: 29px;
    margin-right: 16px;
    position: relative;
    top: -10px;
}

.socials ul {
    display: inline-block;
    overflow: hidden;
    margin-top: 4px;
}

.socials li {
    float: left;
	padding-left: 0px;
}

.socials li:before {
	display: none;
}

.socials li + li {
    margin-left: 15px;
}

.socials a {
    background: url(../images/template/socials.png) no-repeat #4b1543;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    display: block;
    height: 29px;
    width: 29px;
}

.socials a.vk {
    background-position: 0px 0px;
}

.socials a.fb {
    background-position: -44px 0px;
}

.socials a.ok {
    background-position: -88px 0px;
}

.socials a.in {
    background-position: -132px 0px;
}

.socials a:hover {
    background-color: #701362;
}

.up {
    background: url(../images/template/up.png) no-repeat 0px 0px;
    bottom: 124px;
    cursor: pointer;
    height: 48px;
    left: 50%;
    margin-left: -591px;
    position: fixed;
    width: 48px;
    z-index: 10;
}

/* end footer */

/* breadcrumbs */

.breadcrumbs {
    border-bottom: 1px solid #e8e8e8;
    overflow: hidden;
    padding: 17px 0px 13px;
}

.breadcrumbs ul {
    float: left;
    overflow: hiddenl
}

.breadcrumbs ul li {
    color: #7b7b7b;
    float: left;
    font-size: 12px;
    line-height: 16px;
	
    position: relative;
}

.breadcrumbs ul li:before {
	display: none;
	position: relative;
	left: auto;
	top: auto;
}

.breadcrumbs ul li a {
    color: #7b7b7b; 
}

.breadcrumbs ul li a:hover {
    color: #9d228a;
}

.breadcrumbs ul li + li {
    margin-left: 13px;
}

.breadcrumbs ul li + li:before {
    content: '/';
	display: inline-block;
    margin-right: 5px;
}

.breadcrumbs .a__back {
    color: #a33091;
    float: right;
    font-size: 12px;
    line-height: 16px;
}

.breadcrumbs .a__back:hover {
    text-decoration: none;
}

/* end breadcrumbs */

/* tovar__info */

.tovar__info {
    padding: 38px 0px;
}

.tovar__info .img__desc {
    float: left;
    width: 490px;
}

.img__desc .tovar__slider__wrap {
    border: 1px solid #d8d1cd;
    margin-bottom: 27px;
    position: relative;
}

.tovar__slider__wrap .bx-wrapper .bx-controls-direction a {
    background: url(../images/template/slider__tovar__arrow.png) no-repeat;
    bottom: -68px;
    height: 33px;
    top: auto;
    width: 33px;
}

.tovar__slider__wrap .bx-wrapper .bx-controls-direction a.bx-prev {
    background-position: 0px 0px;
    left: 7px;
}

.tovar__slider__wrap .bx-wrapper .bx-controls-direction a.bx-next {
    background-position: -33px 0px;
    right: 7px;
}

.tovar__slider__wrap .bx-wrapper .bx-controls-direction a.bx-prev:hover {
    background-position: 0px -33px;
}

.tovar__slider__wrap .bx-wrapper .bx-controls-direction a.bx-next:hover {
    background-position: -33px -33px;
}

.img__desc .bx-wrapper img {
    vertical-align: bottom;
}

.tovar__slider li {
    height: 379px;
	padding-left: 0px;
    width: 100%;
}

.tovar__slider li:before {
	display: none;
}

.tovar__slider-pager {
    overflow: hidden;
    padding: 11px 46px 10px;
}

.tovar__slider-pager a {
    border: 1px solid #d8d1cd;
    float: left;
    height: 90px;
    overflow: hidden;
    position: relative;
    width: 90px;
}

.tovar__slider-pager a.active {
    border-color: #a33091;
}

.tovar__slider-pager a.active img {
    opacity: 0.3;
}

.tovar__slider-pager a + a {
    margin-left: 12px;
}

.tovar__slider-pager a img,
.tovar__slider img {
    height: auto;
    min-height: 100%;
    min-width: 100%;
    width: auto;
}

.tovar__slider-pager .a__play {
    height: 48px;
    left: 50%;
    margin: -24px 0px 0px -24px;
    min-height: 0;
    min-width: 0;
    position: absolute;
    top: 50%;
    width: 48px;
    z-index: 1;
}

.tovar__detail {
    float: right;
    position: relative;
    top: -7px;
    width: 468px;
}

.tovar__detail-price {
    border-bottom: 1px solid #d8d8d8;
    color: #acabac;
    font-size: 14px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 25px;
    padding: 0px 0px 21px;
    vertical-align: top;
}

.tovar__detail-price dt {
    display: inline-block;
    vertical-align: top;
}

.tovar__detail-price span {
    display: inline-block;
    font-size: 32px;
}

.tovar__detail-price .new__price {
    color: #9d228a;
    margin-left: 11px;
}

.tovar__detail-price .new__price:after {
    content: url(../images/rub_b.png);
}

.tovar__detail-price .old__price {
    color: #c5c0c0;
    font-weight: normal;
    margin-left: 31px;
    text-decoration: line-through;
}

.tovar__detail h5 {
    margin-bottom: 8px;
}

input[type=submit],
.a__submit {
    border: 0px;
    font-size: 17.67px;
    line-height: 21px;
    outline: none;
    margin-top: 13px;
    padding: 16px 0px;
    width: 308px;
}

.specifications {
    margin-top: 40px;
}

.specifications li {
    color: #2a2c2e;
    font-size: 12px;
    line-height: 16px;
    padding: 7px 13px 6px;
    overflow: hidden;
}

.specifications li:before {
	display: none;
}

.specifications li.alt {
    background: #eaeaea;
}

.specifications li .left {
    font-weight: 700;
}

.specifications li .right {
    text-align: right;
}

/* end tovar__info */

/* format__block */

.format__block {
    background: #eaeaea;
    padding: 47px 0px 50px;
    position: relative;
}

.format__block h2 {
    color: #292828;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.format__block .bx-wrapper .bx-controls-direction a {
    background: url(../images/template/slider__arrow.png) no-repeat;
    height: 42px;
    margin: 0px;
    position: absolute;
    top: -73px;
    width: 42px;
}

.format__block .bx-wrapper .bx-controls-direction a.bx-prev {
    background-position: 0 0;
    left: auto;
    right: 40px;
}

.format__block .bx-wrapper .bx-controls-direction a.bx-next {
    background-position: -42px 0;
    right: 0px;
}

.format__block .bx-wrapper .bx-controls-direction a.bx-prev:hover {
    background-position: 0 -43px;
}

.format__block .bx-wrapper .bx-controls-direction a.bx-next:hover {
    background-position: -42px -43px;
}

.format__block .bx-wrapper .bx-viewport {
    background: none;
}

.format__block .slider__img {
    background: #ffffff;
    border: 1px solid #f1f1f1;
	cursor: pointer;
    height: 180px;
    line-height: 180px;
    margin-bottom: 15px;
    text-align: center;
}

.format__block li {
	padding-left: 0px;
	width: 184px;
}

.format__block li:before {
	display: none;
}

.format__block li:hover .slider__img,
.format__block li.active .slider__img{
    border-color: #a33091;
}

.format__block .slider__img img {
    display: inline-block;
    vertical-align: middle;
}

.format__block p {
    color: #2a2c2e;
    font-size: 14px;
    line-height: 18px;    
}

.format__block .slider__block-price {
    margin: 14px 0px;
}

.format__block .a__choose {
    background: #cc92c3;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 120px;
}

.format__block li:hover .a__choose,
.format__block li.active .a__choose{
    background: #a33091;
}

/* end format__block */

/* technical__sizes */

.technical__sizes {
    background: #b1b1b1;
    padding: 22px 0px 19px;
    text-align: center;
}

.technical__sizes a {    
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    text-decoration: none;
    vertical-align: middle;
}

.technical__sizes a span {
    border-bottom: 1px dashed #ffffff;
    position: relative;
    top: -4px;
}

.technical__sizes a:hover {
    color: #a33091;
}

.technical__sizes a:hover span {
    border-color: #a33091;
}

.technical__sizes a:before {
    content: url(../images/template/Info.png);
    margin-right: 11px;
}

.technical__sizes a:hover:before {
    content: url(../images/template/Info-hover.png);
}

/* end technical__sizes */

/* quality__block */

.quality__block {
    padding: 48px 0px 0px;
}

.quality__block h2 {
    color: #292828;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 52px;
    text-transform: uppercase;    
}

.quality__block ul {
    overflow: hidden;
}

.quality__block li {
    background: url(../images/template/quality__block.png) no-repeat 0px 0px;
    float: left;
    height: 80px;
    padding: 0px 21px 20px 66px;
    width: 50%;
}

.quality__block li:before {
	display: none;
}

.quality__block p {
    color: #292828;
    font-size: 14px;
    line-height: 16px;
}

/* end quality__block */

/* tovar__list */

.tovar__list {
    padding: 31px 0px 0px;
}

.tovar__list h1 {
    padding-right: 50px;
    margin-bottom: 0px;
}

.tovar__list-ul > div {
    padding: 39px 0px;
}

.tovar__list-ul .alt {
    background: #eaeaea;
}

.tovar__list-ul ul {
    overflow: hidden;
}

.tovar__list-ul li {
    float: left;
	padding-left: 0px;
    width: 313px;
}

.tovar__list-ul li:before {
	display: none;
}

.tovar__list-ul li + li {
    margin-left: 20px;
}

.tovar__list-ul .tovar__list-img {
    height: 157px;
    margin-bottom: 26px;
    overflow: hidden;
}

.tovar__list-ul .tovar__list-img img {
    height: auto;
    min-height: 100%;
    min-width: 100%;
    width: auto;
}

.tovar__list-ul p {
    color: #181719;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 29px;
}

.tovar__list + .slider__block {
    padding-top: 46px;
}

/* end tovar__list */

/* popup */

.popup {
    display: none;
	min-width: 980px;
    padding: 51px 0px 0px;
}

.popup .text__center {
	
    padding: 0px 32px;
}

.popup .bx-wrapper {
    border: 1px solid #d2d2d2;
    margin: 0px auto;
    padding: 45px 0px;
    width: 726px;
}

.popup .bx-wrapper li {
	padding-left: 0px;
    text-align: center;
}

.popup .bx-wrapper li:before {
	display: none;
}

.popup .bx-wrapper li img {
    display: inline-block;
}

.popup__slider li {
	width: 724px !important;
}

.popup .bx-wrapper .bx-viewport {
	height: auto !important;
}

.popup__slider .wrap {
    background: url(../images/bg/book.png) no-repeat 0 0;
    height: 270px;
    margin: 0px auto;
    padding: 8px;
    width: 537px;
}

.popup .bx-wrapper .bx-controls-direction a {
    margin-top: -21px;
    top: 50%;
}

.popup .bx-wrapper .bx-controls-direction a.bx-prev {
    left: -96px;
}

.popup .bx-wrapper .bx-controls-direction a.bx-next {
    background-position: -40px 0;
    right: -96px;
}

.popup .bx-wrapper .bx-controls-direction a.bx-next:hover {
    background-position: -40px -43px;
}

.popup h2 {
    color: #181719;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 24px 0px 72px;
    text-transform: none;
}

.edit__list {
    background: #eaeaea;
    padding: 56px 32px 62px;
}

.edit__list li {
    display: inline-block;
	padding-left: 0px;
    position: relative;
    width: 279px;
}

.edit__list li:before {
	display: none;
}

.edit__list li + li {
    margin-left: 35px;
}

.edit__list-img {
    border: 1px solid #d2d2d2;
    background: #ffffff;
    height: 175px;
    line-height: 175px;
    overflow: hidden;
    margin-bottom: 24px;
    text-align: center;
    width: 100%;
}

.edit__list-img img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.edit__list h3 {
    color: #181719;
    margin-bottom: 15px;
}

.edit__list p {
    color: #0b0b0b;
    line-height: 17px;
    margin-bottom: 8px;
}

.edit__list div a {
    color: #9d228a;
    font-size: 14px;
    line-height: 17px;
}

.edit__list .a__create {
    background: #9d228a;
    color: #ffffff;
    font-size: 14px;
    line-height: 22px;
    display: inline-block;
    margin-top: 19px;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 165px;
}

.edit__list-icon {
    height: 60px;
    position: absolute;
    right: 38px;
    top: 51px;
    width: 60px;
}

.popup__inner {
	padding: 0px 30px 70px;
}

.popup__inner p a {
	color: #a02f8f;
}

/* end popup */

/* calendar__item */

.calendar__list.without + .calendar__item {
	padding: 33px 0px 0px;
}

.calendar__list.without + .calendar__list-select + .calendar__item {
	padding: 33px 0px 0px;
}

.calendar__item .item {
	height: 0px;
	overflow: hidden;
}

.calendar__item .item.active {
	height: auto;
}

.calendar__item h1 {
    margin-bottom: 1px;
}

.calendar__item .alt {
    background: #eaeaea;
}

.calendar__item-ul ul {
    overflow: hidden;
}

.calendar__item-ul > div {
    padding: 40px 0px;
}

.calendar__item-ul li {
    float: left;
	padding-left: 0px;
    width: 313px;
}

.calendar__item-ul li:before {
	display: none;
}

.calendar__item-ul li + li {
    margin-left: 20px;
}

.calendar__item-img {
    background: #fff;
    border: 1px solid #d8d1cd;
    height: 232px;
    line-height: 228px;
    margin-bottom: 22px;
    text-align: center;
}

.calendar__item-img img {
    display: inline-block;
    vertical-align: middle;
}

.calendar__item-img + a {
    display: inline-block;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 16px;
    width: 100%;
}

.calendar__item-ul p {
    line-height: 17px;
    margin-bottom: 0px;
}

.calendar__item-ul .slider__block-price {
    color: #acabac;
    font-size: 14px;
    line-height: 32px;
    margin-top: 17px;
    margin-bottom: 15px;
    
}

.calendar__item-ul .slider__block-price span,
.calendar__item-ul .slider__block-price dt {
    display: inline-block;
    vertical-align: top;
}

.calendar__item-ul .slider__block-price .new__price {
    font-size: 28px;
    line-height: 32px;
    margin-left: 5px;
}

.calendar__item-ul .slider__block-price .new__price:after {
    content: url(../images/rub_s.png);
    height: 20px;
    margin-left: 8px;
}

.page__text {
    padding: 32px 0px 79px;
}

.page__text p {
    line-height: 17px;
}

/* end calendar__item */

/* delivery__in */

.delivery__in {
	padding: 17px 0px 0px;
}

.delivery__in h1 {
	margin-bottom: 25px;
}

.delivery__punkt {
	background: #eaeaea;
	padding: 33px 0px 21px;
}

.delivery__in h2 {
	color: #292828;
	font-size: 24px;
	line-height: 28px;
	margin-bottom: 26px;
	text-transform: none;
}

.delivery__in h2 a {
	color: #a33091;
	display: inline-block;
	font-size: 12px;
	line-height: 16px;
	margin-left: 36px;
	vertical-align: middle;
}

.delivery__punkt-ul {
	margin: 0px -10px;
	overflow: hidden;
}

.delivery__punkt-ul > li {
	background: #fff;
	border: 1px solid #d8d1cd;
	float: left;
	margin: 0px 10px 19px;
	padding: 0px 25px 0px;
	width: 313px;
}

.delivery__punkt-ul > li:before {
	display: none;
}

.delivery__in .logo {
	height: 121px;
	line-height: 125px;
}

.delivery__in .logo img {
	vertical-align: middle;
}

.delivery__punkt-ul > li p {
	color: #0b0b0b;
	line-height: 17px;
}

.delivery__punkt-ul > li h4 {
	border-bottom: 1px solid #eaeaea;
	color: #2a2c2e;
	font-weight: 700;
	margin-top: 24px;
	padding-bottom: 8px;
	text-transform: none;
}

.delivery__punkt-ul > li > ul {
	color: #2a2c2e;
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 14px;
}

.delivery__punkt-ul > li > ul li {
	padding-left: 10px;
	position: relative;
}

.delivery__punkt-ul > li > ul li:before {
	content: '–';
	left: 0px;
	position: absolute;
	top: 0px;
}

.delivery__punkt-ul > li a {
	color: #a33091;
	font-size: 12px;
	line-height: 16px;
}

.delivery__in .li__detail {
	border-top: 1px solid #d8d1cd;
	margin: 37px -25px 0px;
	padding: 18px 0px 6px 25px;
}

.delivery__in .li__detail ul {
	overflow: hidden;
}

.delivery__in .li__detail li {
	float: left;
	overflow: hidden;
	margin-bottom: 16px;
	padding-left: 0px;
	width: 136px;
}

.delivery__in .li__detail li.li2 {
	width: 140px;
}

.delivery__in .li__detail li.li3 {
	width: 100%;
}

.delivery__in .li__detail li:before {
	display: none;
}

.delivery__in .li__detail .img {
	float: left;
	margin-right: 15px;
}

.delivery__in .li__detail li.li2 .img {
	margin-right: 8px;
}

.delivery__in .li__detail p {
	color: #292828;
	font-size: 12px;
	line-height: 21px;
}

.delivery__in .li__detail .p__price {
	color: #000000;
	font-weight: 700;
	line-height: 12px;
}

.delivery__terminal {
	padding: 34px 0px 39px;
}

.delivery__terminal.grey {
	background: #eaeaea;
}

.delivery__terminal:last-child {
	padding-bottom: 82px;
}

.delivery__terminal ul {
	overflow: hidden;
}

.delivery__terminal-ul > li {
	float: left;
	padding-left: 0px;
	width: 477px;
}

.block__delivery__info ul {
	color: #2a2c2e;
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 14px;
}

.block__delivery__info ul li {
	padding-left: 10px;
	position: relative;
}

.block__delivery__info ul li:before {
	content: '–';
	left: 0px;
	position: absolute;
	top: 0px;
}

.delivery__terminal-ul > li:nth-child(even) {
	float: right;
}

.delivery__terminal-li {
	background: #fff;
    border: 1px solid #d8d1cd;
    padding: 0px 25px 0px;
    width: 100%;
}

.delivery__terminal .logo {
	line-height: 122px;
}

.delivery__terminal .logo img + img {
	margin-left: 22px;
}

.delivery__terminal p {
	color: #0b0b0b;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 4px;
}

.delivery__terminal li h4 {
	border-bottom: 1px solid #eaeaea;
	color: #2a2c2e;
	font-weight: 700;
	margin-top: 20px;
	padding-bottom: 8px;
	text-transform: none;
}

.delivery__terminal li ul {
	color: #2a2c2e;
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 14px;
}

.delivery__terminal li a {
	color: #a33091;
	font-size: 14px;
	line-height: 24px;
}

.block__delivery__info .left {
	width: 175px;
}

.block__delivery__info .left a {
	color: #a33091;
	font-size: 12px;
	line-height: 15px;
}

.delivery__info {
	background: #eaeaea;
	color: #000000;
	font-size: 12px;
	float: right;
	height: 100px;
	line-height: 15px;
	margin-top: 10px;
	padding: 20px 40px 20px 14px;
	position: relative;
	width: 211px;
}

.delivery__info:after {
	bottom: 10px;
	content: url(../images/template/Info-hover.png);
	height: 16px;
	position: absolute;
	right: 9px;
	width: 16px;
}

.delivery__terminal .li__detail {
	margin-top: 23px;
	padding-bottom: 2px;
}

.delivery__terminal .li__detail ul {
	margin-bottom: 0px;
}

.delivery__terminal .li__detail li.li2 {
	width: 146px;
}

.delivery__terminal .li__detail li.li3 {
	width: 150px;
}

.delivery__terminal .li__detail p {
	margin-bottom: 0px;
    line-height: 20px;
}

/* end delivery__in */

/* delivery__inner */

.delivery {
	padding: 17px 0px 0px;
}

.delivery h1 {
	margin-bottom: 25px;
}

.delivery__inner {
	position: relative;
}

.map {
	height: 784px;
	width: 100%;
}

.map__filter {
	background: #ffffff;
	-webkit-box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.22);
			box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.22);
	left: 50%;
	margin-left: -490px;
	padding: 36px 16px 32px;
	position: absolute;
	top: 20px;
	width: 231px;
	z-index: 1;
}

.map__filter .jq-selectbox__select,
.map__filter .jq-selectbox{
	width: 100%;
}

.map__filter h5 {
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 15px;
	padding-bottom: 5px;
}

.map__filter label {
	display: block;
	overflow: hidden;
	position: relative;
}

.map__filter label .jq-checkbox {
	float: left;
	margin-right: 11px;
}

.map__filter label span {
	color: #2a2c2e;
	display: block;
	font-size: 14px;
	line-height: 18px;
	margin-left: 33px;
}

.map__filter label + label {
	margin-top: 7px;
}

.map__filter label + h5,
.map__filter .div__a + h5 {
	margin-top: 23px;
}

.map__filter .div__a {
	margin-top: 14px;
}

.map__filter .div__a + .div__a {
	margin-top: 6px;
}

.map__filter a {
	color: #a33091;
	font-size: 14px;
	line-height: 18px;
}

.map__filter a:hover {
	text-decoration: none;
}

#time-styler {
	margin-top: 28px;
    margin-bottom: 8px;
}

.map__filter .ballon:after {
	content: '';
	height: 32px;
	position: absolute;
	right: 0px;
	top: -6px;
	width: 32px;
}

.map__filter .ballon.blue:after {
	background: url(../images/template/baloon__blue.jpg) no-repeat 0px 0px;
}

.map__filter .ballon.red:after {
	background: url(../images/template/baloon__red.jpg) no-repeat 0px 0px;
}

.map__filter .ballon.yellow:after {
	background: url(../images/template/baloon__yellow.jpg) no-repeat 0px 0px;
	height: 40px;
	top: -10px;
	width: 40px;
}

.ymaps-b-balloon__close {
	background: url(../images/template/close.png) no-repeat 0px 0px !important;
	background-size: cover !important;
	height: 20px !important;
	right: 20px !important;
	top: 20px !important;
	width: 20px !important;
}

.ymaps-b-balloon__tr,
.ymaps-b-balloon__tl,
.ymaps-b-balloon__bl,
.ymaps-b-balloon__br,
.ymaps-shadows-pane {
	display: none !important;
}

.ymaps-b-balloon__content {
	background: #ffffff  !important;
	-webkit-box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.49) !important;
			box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.49) !important;
	border: none !important;
	position: relative;
}

.ymaps-b-balloon__content:after {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 16px 33px 0 0;
	border-color: #ffffff transparent transparent transparent;
	content: '';
	position: absolute;
	left: 50%;
	margin-left: 0px;
	bottom: -16px;
}

.ymaps-b-balloon__content-holster {
	padding: 0px !important;
}

.ballon__content {
	padding: 34px 35px 30px;
	width: 529px;
}

.ymaps-b-balloon__content > ymaps,
.ymaps-b-balloon {
	width: 529px !important;
}

.ballon__content .a_h1 {
	color: #a33091;
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 20px;
}

.ballon__content a:hover {
	text-decoration: none;
}

.ballon__content h5 {
	color: #969696;
	font-weight: normal;
	line-height: 18px;
	margin-bottom: 4px;
}

.ballon__content p + h5 {
	margin-top: 9px;
}

.ballon__content p {
	color: #2a2c2e;
	line-height: 18px;
}

.adress__info {
	overflow: hidden;
	margin-top: 13px;
	margin-bottom: 10px;
}

.adress__info .img {
	float: left;
	max-width: 92px;
	margin-right: 12px;
	position: relative;
	top: 4px;
}

.adress__info .img:after {
	bottom: 0px;
	content: url(../images/template/zoom2.jpg);
	height: 20px;
	position: absolute;
	right: 0px;
	width: 20px;
}

.adress__info img {
	max-width: 100%;
}

.adress__time {
	background: #b2aeae;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	margin: 29px 0px 0px;
	overflow: hidden;
	padding: 9px 15px 12px;
}

.adress__time p {
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
}

.adress__icon {
	overflow: hidden;
	margin-top: 14px;
}

.adress__icon a {
	color: #a33091;
	font-size: 14px;
	line-height: 24px;
}

.adress__icon a.right {
	position: relative;
	top: -4px;
}

.adress__icon .favorites {
	font-weight: bold;
	margin-left: 24px;
	position: relative;
	text-decoration: none;
}

.adress__icon .favorites:hover {
	text-decoration: underline;
}

.adress__icon .favorites:before {
	content: url(../images/template/star.jpg);
	left: -25px;
	position: absolute;
	top: 0px;
}

.adress__icon .zoom {
	color: #000000;
	float: left;
	font-weight: bold;
	margin-left: 88px;
	position: relative;
	text-decoration: none;
}

.adress__icon .zoom:hover {
	text-decoration: underline;
}

.adress__icon .zoom:before {
	content: url(../images/template/zoom.jpg);
	left: -28px;
	position: absolute;
	top: 0px;
}

/* end delivery__inner */

/* action__ul */

.action__ul {
	padding: 16px 0px 40px;
}

.action__ul h2 {
	margin-bottom: 0px;
}

.action__ul .slider__img {
	margin-bottom: 14px;
	position: relative;
}

.action__ul p {
	color: #0b0b0b;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 22px;
	padding-right: 35px;
}

.action__ul .p__date + a {
	display: inline-block;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 15px;
}

.p__date,
.action__ul .p__date {
	color: #7b7b7b;
	font-size: 12px;
	line-height: 15px;
	height: auto !important;
	margin-bottom: 12px;
	padding: 0px;
}

.action__day {
	background: url(../images/template/action__day.png) no-repeat 11px center #fabb2d;
	-webkit-border-radius: 6px;
	   -moz-border-radius: 6px;
			border-radius: 6px;
	color: #ffffff;
	font-size: 12px;
	left: 11px;
	line-height: 15px;
	padding: 6px 15px 7px 36px;
	position: absolute;
	top: 12px;
}

/* end action__ul */

/* content */

.content {
	padding: 30px 0px 41px;
}

.content p {
	margin-bottom: 9px;
}

.content .p__date {
	margin-bottom: 25px;
}

.content h3 {
	color: #181719;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 29px;
}

.content ul a {
	color: #a33091;
}

.content ul,
ul.list {
	color: #737373;
	font-size: 14px;
	line-height: 30px;
}

.content ul li,
ul.list li {
	padding-left: 27px;
	position: relative;
}

.content ul li:before,
ul.list li:before {
	content: '—';
	left: 0px;
	position: absolute;
	top: 0px;
}

.content table {
	margin-bottom: 33px;
}

.important {
	border-left: 4px solid #a33091;
	color: #7e7474;
	font-size: 14px;
	font-style: italic;
	line-height: 18px;
	margin: 29px 0px 38px 4px;
	padding: 0px 0px 0px 25px;
	max-width: 455px;
}

/* end content */

/* service */

.service__header {
	background: url(../images/bg/services__bg.jpg) no-repeat center 0px;
	background-size: cover;
	padding: 32px 0px 43px;
}

.service__header h1 {
	color: #ffffff;
	margin-bottom: 20px;
}

.service__header p {
	color: #ffffff;
	line-height: 18px;
}

.service__header p + p {
	margin-top: 18px;
}

.service__list {
	padding: 0px;
}

.service__list li.alt {
	background: #eaeaea;
}

.service__list > ul > li {
	padding: 63px 0px 65px;
}

.service__list .wrapper > .clearfix {
	margin-left: -19px;
}

.service__list .img {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
	float: left;
	left: 0px;
	overflow: hidden;
	position: relative;
	top: 5px;
	width: 321px;
}

.service__list .img img {
	max-width: 100%;
}

.service__list-info {
	margin-left: 358px;
}

.service__list-info h3 {
	font-weight: bold;
	margin-bottom: 23px;
	text-transform: uppercase;
}

.service__list-info p {
	line-height: 22px;
}

.service__list-info p + p {
	margin-top: 5px;
}

.service__list-info ul {
	line-height: 23px;
	margin-top: 20px;
	margin-bottom: 14px;
}

.service__list-info ul li + li {
	margin-top: 16px;
}

.service__list-info .a__butt {
	margin-top: 30px;
}

.block__detail {
	background: #eaeaea;
	color: #0b0b0b;
	line-height: 41px;
	padding: 11px 19px 13px;
}

.block__detail.white {
	background: #fff;
}

.block__detail p {
	display: inline-block;
	font-size: 14px;
	line-height: 22px;
	vertical-align: middle;
}

.block__detail a,
.service__list-info ul li a {
	color: #9d228a;
	display: block;
}

.service__list-info ul li a {
	display: inline-block;
}

.block__detail a:hover,
.service__list-info ul li a:hover {
	text-decoration: none;
}

.block__detail .a__app,
.block__detail .a__google {
	background: #958d95;
	display: inline-block;
	height: 35px;
	width: 136px;
}

.block__detail .a__app {
	margin-left: 22px;
}

.block__detail .a__google {
	margin-left: 12px;
}

.block__detail .a__app:hover,
.block__detail .a__google:hover {
	background: #701362;
}

/* end service */

.mobile__display {
	display: none !important;
}

/* MODAL FORMS AUTH REG RESTORE */

* {
    outline: none;
}

.a__butt {
    border: 0;
}
#fancybox__restore ,
#fancybox__open__id {
    text-align: center;
}

#fancybox__restore p ,
#fancybox__open__id p {
    margin-bottom: 20px;
}
#fancybox__reg .reg__auth__restore__content, #fancybox__reg .text__center,
#fancybox__open__id .reg__auth__restore__content, #fancybox__open__id .text__center,
#fancybox__restore .reg__auth__restore__content, #fancybox__restore .text__center {
    width: 320px;
    padding: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
}
#fancybox__restore .text__center ,
#fancybox__open__id .text__center ,
#fancybox__auth .text__center {
    width: auto;
}
#fancybox__reg .popup__inner,
#fancybox__auth .popup__inner,
#fancybox__restore .popup__inner {
    padding-left: 0;
    padding-right: 0;
}
.jq-checkbox.custom__checkbox {
    float: left;
}
.reg__auth__restore__content .input__parent.checkbox label {
    display: block;
    font-size: 13px;
    margin-left: 45px;
    line-height: 1.2;
}
.reg__auth__restore__content .input__parent.checkbox label a {
    color: #a02f8f;
}
#fancybox__auth .input__parent.checkbox {
    display: block;
    text-align: center;
    padding-right: 30px;
}

#fancybox__auth .input__parent.checkbox .jq-checkbox.custom__checkbox {
    float: none;
}
#fancybox__auth .input__parent.checkbox label {
    line-height: normal;
    display: inline-block;
    margin-left: 10px
}

.reg__auth__restore__content .input__parent.submit {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    width: auto;
}
.reg__auth__restore__content .input__parent.submit .a__butt {
    margin-top: 0;
}

#fancybox__auth .input__parent.submit .a__butt {
    margin-left: 15px;
    margin-right: 15px;
}
#fancybox__auth .input__parent.submit a {
    color: #a02f8f;
}
.fancybox-opened {
    z-index: 99999999 !important;
}
#fancybox__reg .text__center ,
#fancybox__auth .text__center ,
#fancybox__open__id .text__center,
#fancybox__restore .text__center {
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 1.2;
}
.reg__auth__restore__content {
    padding: 0 20px;
}
.reg__auth__restore__content .custom__input {
    border: 1px solid #acacac;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #2a2c2e;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 25px 10px 15px;
    width: 100%;
}

.input__parent {
    margin-bottom: 15px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.bottom__content {
    background-color: #eaeaea;
    text-align: center;
    min-height: 300px;
}

.bottom__content h3 {
    font-size: 16px;
    color: #181719;
    font-weight: bold;
    padding-top: 30px;
}


.socials__auth {
    text-align: center;
    font-size: 0;
    padding-bottom: 20px;
}
.socials__auth li {
    display: inline-block;
    /* margin: 0 -5px; */
    width: 70px;
}
.socials__auth li a {
    height: 100%;
    width: 100%;
    display: inline-block;
}

.bottom__content .with__us {
    padding: 0 0 25px 0;
}
.bottom__content .with__us p {
    font-size: 13px;
}

input:focus::-webkit-input-placeholder {
    color:transparent;
}
input:focus::-moz-placeholder {
    color:transparent;
}
input:focus::-ms-input-placeholder {
    color:transparent;
}
input[palceholder]:focus{
    color:transparent;
}

input:focus::placeholder {
    color:transparent;
}

@media screen and (max-width: 641px) {
    #fancybox__reg .popup__inner,
    #fancybox__auth .popup__inner,
    #fancybox__open__id .popup__inner,
    #fancybox__restore .popup__inner {
        padding: 0;
    }

    #fancybox__reg .text__center,
    #fancybox__auth .text__center,
    #fancybox__open__id .text__center,
    #fancybox__restore .text__center {
        font-size: 7vw;
        margin-bottom: 3.125vw;
    }

    #fancybox__reg .reg__auth__restore__content,
    #fancybox__reg .text__center,
    #fancybox__open__id .reg__auth__restore__content,
    #fancybox__open__id .text__center,
    #fancybox__restore .reg__auth__restore__content,
    #fancybox__restore .text__center {
        width: 96%;
    }

    .input__parent {
        width: 100%;
        margin-bottom: 3.3vw;
    }

    .reg__auth__restore__content .custom__input {
        font-size: 3.3vw;
        padding: 2.56vw 3.9vw 2.56vw 2.34vw;
        width: 100%;
        line-height: normal;
    }

    .reg__auth__restore__content .input__parent.checkbox label {
        display: block;
        font-size: 3.8vw;
         margin-left: 0px;
        line-height: 1.2;
        padding-left: 60px;
    }

    #fancybox__auth .input__parent.checkbox label {
        padding: 0;
    }

    .reg__auth__restore__content .input__parent.submit .a__butt {
        font-size: 4vw;
        padding: 3vw 0;
        width: 45vw;
    }

    #fancybox__auth .input__parent.submit.links .a__butt {
        display: block;
        margin: 0 auto;
    }

    #fancybox__auth  .input__parent.submit.links {
        padding-bottom: 40px;
        margin-bottom: 30px;
        position: relative;
    }

    #fancybox__auth .input__parent.submit.links a {
        color: #a02f8f;
        font-size: 4vw;
    }
    #fancybox__auth .input__parent.submit.links a {
        position: absolute !important;
        bottom: 0;
    }

    #fancybox__auth .input__parent.submit.links a.fancybox__reg {
        right: 0;
    }
    #fancybox__auth .input__parent.submit.links a.fancybox__restore__openid {
        text-align: center;
        margin-bottom: 0px;
        margin-top: 0px;
        left: 0;
        position: relative;
    }

    #fancybox__auth .text__center {
        font-size: 5vw;
    }



    .bottom__content {
        min-height: auto;
    }

    .bottom__content h3 {
        font-size: 4vw;
        padding-top: 4.8vw;
    }
    .socials__auth li {
        width: 15%;
    }
    .socials__auth li a img {
        max-width: 100%;
        height: auto;
    }
    .bottom__content .with__us {
        padding: 0 0 3.9vw 0;
    }
    .bottom__content .with__us p {
        font-size: 4vw;
    }


    .reg__fancy,
    .auth__fancy,
    .restore__fancy {
        /*width: auto !important;*/
        padding-right: 20px;
    }

    .reg__fancy .fancybox-inner,
    .auth__fancy .fancybox-inner,
    .restore__fancy .fancybox-inner {
        /*width: auto !important;*/
        height: auto !important;
    }
}

@media screen and (max-width: 400px) {
    #fancybox__reg .popup__inner,
    #fancybox__auth .popup__inner,
    #fancybox__open__id .popup__inner,
    #fancybox__restore .popup__inner {
        padding: 0;
    }

    #fancybox__reg .text__center,
    #fancybox__auth .text__center,
    #fancybox__open__id .text__center,
    #fancybox__restore .text__center {
        font-size: 7vw;
        margin-bottom: 6.125vw;
    }

    #fancybox__reg .reg__auth__restore__content,
    #fancybox__reg .text__center,
    #fancybox__open__id .reg__auth__restore__content,
    #fancybox__open__id .text__center,
    #fancybox__restore .reg__auth__restore__content,
    #fancybox__restore .text__center {
        width: 96%;
    }

    .input__parent {
        width: 100%;
        margin-bottom: 6.3vw;
    }

    .reg__auth__restore__content .custom__input {
        font-size: 6.3vw;
        padding: 4.56vw 4.9vw 4.56vw 3.34vw;
        width: 100%;
        line-height: normal;
    }

    .reg__auth__restore__content .input__parent.checkbox label {
        display: block;
        font-size: 5.8vw;
        margin-left: 0px;
        line-height: 1.2;
        padding-left: 60px;
    }

    .reg__auth__restore__content .input__parent.submit .a__butt {
        font-size: 4vw;
        padding: 3vw 0;
        width: 75vw;
    }

    #fancybox__auth .input__parent.submit.links .a__butt {
        display: block;
        margin: 0 auto;
    }

    #fancybox__auth  .input__parent.submit.links {
        padding-bottom: 40px;
        margin-bottom: 30px;
        position: relative;
    }

    #fancybox__auth .input__parent.submit.links a {
        color: #a02f8f;
        font-size: 6vw;
    }
    #fancybox__auth .input__parent.submit.links a {
        position: absolute !important;
        bottom: 0;
    }

    #fancybox__auth .input__parent.submit.links a.fancybox__reg {
        right: 0;
    }
    #fancybox__auth .input__parent.submit.links a.fancybox__restore__openid {
        text-align: center;
        margin-bottom: 0px;
        margin-top: 0px;
        left: 0;
        position: relative;
    }

    #fancybox__auth .text__center {
        font-size: 7vw;
    }



    .bottom__content {
        min-height: auto;
    }

    .bottom__content h3 {
        font-size: 6vw;
        padding-top: 6.8vw;
    }
    .socials__auth li {
        width: 15%;
    }
    .socials__auth li a img {
        max-width: 100%;
        height: auto;
    }
    .bottom__content .with__us {
        padding: 0 0 5.9vw 0;
    }
    .bottom__content .with__us p {
        font-size: 6vw;
    }
}
/* /MODAL FORMS AUTH REG RESTORE */





/* TXT PAGE */


.hidden {
    display: none;
}

.txt__container {}
.txt__tabs {
    background-color: #eaeaea;
}

ul.tabs_menu {
    text-align: center;
    font-size: 0;
    padding: 15px 0;
}
ul.tabs_menu li:first-child {
    /*margin-left: 1px;*/
}

ul.tabs_menu li {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    background-color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 20%;
    position: relative;
    border: 1px solid #dadada;
    margin: 0 -1px;
    cursor: pointer;
}
ul.tabs_menu li:hover {
    border: 1px solid #a33091;
    z-index: 99;
}
ul.tabs_menu li:hover a {
    color: #a33091;
}
ul.tabs_menu li a {
    text-decoration: none;
    font-weight: normal;
    color: #b1b1b1;
    width: 100%;
    height: 100%;
    font-size: 14px;
}

ul.tabs_menu li.active:after, ul.tabs_menu li.active:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

ul.tabs_menu li.active:after {
    border-color: transparent;
    border-top-color: #Fff;
    border-width: 6px 10px 10px 10px;
    margin-left: -10px;
}
ul.tabs_menu li.active:before {
    /*border-color: rgba(163, 48, 145, 0);*/
    border-color: transparent;
    border-top-color: #a33091;
    border-width: 7px 11px 11px 11px;
    margin-left: -11px;
}

ul.tabs_menu li.active {
    z-index: 99;
    border: 1px solid #a33091;
}
ul.tabs_menu li.active a {
    color: #a33091;
    font-weight: bold;
}
ul.tabs_menu li.active:after {}

.txt__content {
    padding-bottom: 50px;
}
.txt__content p {
    margin-top: 20px;
}

.pic__text__wrap {
    margin-top: 20px;
}

.txt__content .left__pic, .txt__content .right__text, .long__defis__list {
    /*margin-top: 20px;*/
}
.long__defis__list {
    margin-top: 20px;
}
.long__defis__list li {
    color: #737373;
    font-size: 14px;
    /*padding-left: 20px;*/
    position: relative;
    margin-top: 10px;
}
.long__defis__list li:before {
    content: "—";
    padding-right: 10px;
}

.txt__content .left__pic {
    padding-right: 40px;
    max-height: 400px;
    max-width: 640px;
    min-width: 230px;
    min-height: 350px;
}
.txt__content .left__pic img {
    max-width: 100%;
    height: auto;
}
.txt__content h5 {
    font-size: 18px;
}
.txt__content .table__block {
    margin-top: 40px;
}

.most__important__info {
    margin-top: 20px;
    font-style: italic;
    margin-bottom: 40px;
    width: 470px;
    line-height: 1.2;
    padding-left: 30px;
    border-left: 3px solid #9d228a;
    color: #7e7474;
}

.grey__info {
    margin-top: 20px;
    background-color: #eaeaea;
    padding: 15px;
    width: 640px;
}


/* /TXT PAGE */