.hidden {
    display: none;
}

.txt__container {}
.txt__tabs {
    background-color: #eaeaea;
}

ul.tabs_menu {
    text-align: center;
    font-size: 0;
    padding: 15px 0;
}
ul.tabs_menu li:first-child {
    /*margin-left: 1px;*/
}

ul.tabs_menu li {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    background-color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 20%;
    position: relative;
    border: 1px solid #dadada;
    margin: 0 -1px;
    cursor: pointer;
}
ul.tabs_menu li:hover {
    border: 1px solid #a33091;
    z-index: 99;
}
ul.tabs_menu li:hover a {
    color: #a33091;
}
ul.tabs_menu li a {
    text-decoration: none;
    font-weight: normal;
    color: #b1b1b1;
    width: 100%;
    height: 100%;
    font-size: 14px;
}

ul.tabs_menu li.active:after, ul.tabs_menu li.active:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

ul.tabs_menu li.active:after {
    border-color: transparent;
    border-top-color: #Fff;
    border-width: 6px 10px 10px 10px;
    margin-left: -10px;
}
ul.tabs_menu li.active:before {
    /*border-color: rgba(163, 48, 145, 0);*/
    border-color: transparent;
    border-top-color: #a33091;
    border-width: 7px 11px 11px 11px;
    margin-left: -11px;
}

ul.tabs_menu li.active {
    z-index: 99;
    border: 1px solid #a33091;
}
ul.tabs_menu li.active a {
    color: #a33091;
    font-weight: bold;
}
ul.tabs_menu li.active:after {}

.txt__content {
    padding-bottom: 50px;
}
.txt__content p {
    margin-top: 20px;
}

.pic__text__wrap {
    margin-top: 20px;
}

.txt__content .left__pic, .txt__content .right__text, .long__defis__list {
    /*margin-top: 20px;*/
}
.long__defis__list {
    margin-top: 20px;
}
.long__defis__list li {
    color: #737373;
    font-size: 14px;
    /*padding-left: 20px;*/
    position: relative;
    margin-top: 10px;
}
.long__defis__list li:before {
    content: "—";
    padding-right: 10px;
}

.txt__content .left__pic {
    padding-right: 40px;
    max-height: 400px;
    max-width: 640px;
    min-width: 230px;
    min-height: 350px;
}
.txt__content .left__pic img {
    max-width: 100%;
    height: auto;
}
.txt__content h5 {
    font-size: 18px;
}
.txt__content .table__block {
    margin-top: 40px;
}

.most__important__info {
    margin-top: 20px;
    font-style: italic;
    margin-bottom: 40px;
    width: 470px;
    line-height: 1.2;
    padding-left: 30px;
    border-left: 3px solid #9d228a;
    color: #7e7474;
}

.grey__info {
    margin-top: 20px;
    background-color: #eaeaea;
    padding: 15px;
    width: 640px;
}